<h1>New Product</h1>

<div class="links">
<%= link_to "Back to Products", admin_products_path, class: "button is-link" %>
</div>

<%= form_with model: @product, url: admin_products_path, local: true do |f| %>
  <%= f.label :name, "Product Name" %>
  <%= f.text_field :name %>

  <%= f.label :price, "Price" %>
  <%= f.number_field :price, step: 0.01 %>

  <%= f.label :stock_quantity, "Stock Quantity" %>
  <%= f.number_field :stock_quantity %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'textarea' %>

  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>

  <%= f.label :image, "Upload Image" %>
  <%= f.file_field :image %>

  <% if @product.image.attached? %>
    <p>Current Image:</p>
    <%= image_tag @product.image %>
  <% end %>

  <%= f.submit 'Save', class: "button is-primary" %>
<% end %>


